<aside class="widget widget--sidebar card card--has-table alc-widget-event-leaders">
        <div class="widget__title card__header card__header--has-btn">
            <h4>Game Leaders</h4>
            <a href="#" class="btn btn-default btn-outline btn-xs card-header__button">Full Box Score</a>
        </div>
        <div class="widget__content card__content">
            <div class="table-responsive">
                <table class="table alc-event-leader">
    
                    <!-- Leader: Points -->
                    <thead>
                        <tr>
                            <th class="alc-event-leader__type">Points</th>
                            <th class="alc-event-leader__stat" title="Points">PTS</th>
                            <th class="alc-event-leader__stat" title="Field Goals">FG</th>
                            <th class="alc-event-leader__stat" title="Free Throws">FT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="alc-event-leader__player alc-event-leader__player--highlight alc-event-leader__player--highlight-primary">
                                <div class="alc-event-leader__player-info">
                                    <figure class="alc-event-leader__player-img">
                                        <img src="assets/images/samples/stats_player_01.jpg" alt="James Girobili">
                                    </figure>
                                    <div class="alc-event-leader__player-inner">
                                        <h5 class="alc-event-leader__player-name">James Girobili</h5>
                                        <span class="alc-event-leader__player-position">1st Shooting Guard</span>
                                    </div>
                                </div>
                            </td>
                            <td class="alc-event-leader__stat">38</td>
                            <td class="alc-event-leader__stat">12/22</td>
                            <td class="alc-event-leader__stat">9/10</td>
                        </tr>
                        <tr>
                            <td class="alc-event-leader__player alc-event-leader__player--highlight alc-event-leader__player--highlight-info">
                                <div class="alc-event-leader__player-info">
                                    <figure class="alc-event-leader__player-img">
                                        <img src="assets/images/samples/stats_player_03.jpg" alt="Tommy Risson">
                                    </figure>
                                    <div class="alc-event-leader__player-inner">
                                        <h5 class="alc-event-leader__player-name">Tommy Risson</h5>
                                        <span class="alc-event-leader__player-position">1st Power Forward</span>
                                    </div>
                                </div>
                            </td>
                            <td class="alc-event-leader__stat">29</td>
                            <td class="alc-event-leader__stat">9/21</td>
                            <td class="alc-event-leader__stat">8/9</td>
                        </tr>
                    </tbody>
                    <!-- Leader: Points / End -->
                    <!-- Leader: Points -->
                    <thead>
                        <tr>
                            <th class="alc-event-leader__type">Rebounds</th>
                            <th class="alc-event-leader__stat" title="Rebounds">REB</th>
                            <th class="alc-event-leader__stat" title="Defensive Rebounds">DREB</th>
                            <th class="alc-event-leader__stat" title="Offensive Rebounds">OREB</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="alc-event-leader__player alc-event-leader__player--highlight alc-event-leader__player--highlight-primary">
                                <div class="alc-event-leader__player-info">
                                    <figure class="alc-event-leader__player-img">
                                        <img src="assets/images/samples/stats_player_02.jpg" alt="Mark Stevens">
                                    </figure>
                                    <div class="alc-event-leader__player-inner">
                                        <h5 class="alc-event-leader__player-name">Mark Stevens</h5>
                                        <span class="alc-event-leader__player-position">1st Power Forward</span>
                                    </div>
                                </div>
                            </td>
                            <td class="alc-event-leader__stat">10</td>
                            <td class="alc-event-leader__stat">9</td>
                            <td class="alc-event-leader__stat">1</td>
                        </tr>
                        <tr>
                            <td class="alc-event-leader__player alc-event-leader__player--highlight alc-event-leader__player--highlight-info">
                                <div class="alc-event-leader__player-info">
                                    <figure class="alc-event-leader__player-img">
                                        <img src="assets/images/basketball/player-40x40.jpg" alt="Rick Dwanes">
                                    </figure>
                                    <div class="alc-event-leader__player-inner">
                                        <h5 class="alc-event-leader__player-name">Rick Dwanes</h5>
                                        <span class="alc-event-leader__player-position">1st Power Guard</span>
                                    </div>
                                </div>
                            </td>
                            <td class="alc-event-leader__stat">6</td>
                            <td class="alc-event-leader__stat">5</td>
                            <td class="alc-event-leader__stat">1</td>
                        </tr>
                    </tbody>
                    <!-- Leader: Points / End -->
                    <!-- Leader: Points -->
                    <thead>
                        <tr>
                            <th class="alc-event-leader__type">Assists</th>
                            <th class="alc-event-leader__stat" title="Assists">AST</th>
                            <th class="alc-event-leader__stat" title="Turnover">TO</th>
                            <th class="alc-event-leader__stat" title="Minutes">MIN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="alc-event-leader__player alc-event-leader__player--highlight alc-event-leader__player--highlight-primary">
                                <div class="alc-event-leader__player-info">
                                    <figure class="alc-event-leader__player-img">
                                        <img src="assets/images/samples/stats_player_01.jpg" alt="James Girobili">
                                    </figure>
                                    <div class="alc-event-leader__player-inner">
                                        <h5 class="alc-event-leader__player-name">James Girobili</h5>
                                        <span class="alc-event-leader__player-position">1st Shooting Guard</span>
                                    </div>
                                </div>
                            </td>
                            <td class="alc-event-leader__stat">11</td>
                            <td class="alc-event-leader__stat">3</td>
                            <td class="alc-event-leader__stat">44</td>
                        </tr>
                        <tr>
                            <td class="alc-event-leader__player alc-event-leader__player--highlight alc-event-leader__player--highlight-info">
                                <div class="alc-event-leader__player-info">
                                    <figure class="alc-event-leader__player-img">
                                        <img src="assets/images/basketball/player-40x40.jpg" alt="Logan Rameson">
                                    </figure>
                                    <div class="alc-event-leader__player-inner">
                                        <h5 class="alc-event-leader__player-name">Logan Rameson</h5>
                                        <span class="alc-event-leader__player-position">1st Power Forward</span>
                                    </div>
                                </div>
                            </td>
                            <td class="alc-event-leader__stat">12</td>
                            <td class="alc-event-leader__stat">2</td>
                            <td class="alc-event-leader__stat">40</td>
                        </tr>
                    </tbody>
                    <!-- Leader: Points / End -->
    
                </table>
            </div>
        </div>
    </aside>