<div class="card card--has-table"  [class.card--color--info]="typeTeam=='VISITOR'" >
    <div class="card__header card__header--has-team-info">
        <div class="team-meta">
            <figure class="team-meta__logo">
                <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="The Alchemists">
            </figure>
            <div class="team-meta__info">
                <h6 class="team-meta__name">{{team.name}}</h6>
                <span class="team-meta__place">{{team.bio}}</span>
            </div>
        </div>
    </div>
    <div class="card__content">
        <div class="table-responsive">
            <table class="table table-hover alc-table-stats">
                <thead>
                    <tr>
                        <th class="alc-player">Jugadores</th>
                        <th class="alc-position">Posición</th>
                        <th class="alc-min">Número</th>
                        <th class="alc-fgm-a">FGM-A</th>
                        <th class="alc-fgpercent">FG%</th>
                        <th class="alc-threepm-a">3PM-A</th>
                        <th class="alc-threepercent">3P%</th>
                        <th class="alc-ftm-a">FTM-A</th>
                        <th class="alc-ftpercent">FT%</th>
                        <th class="alc-reb">REB O</th>
                        <th class="alc-reb">REB D</th>
                        <th class="alc-ast">AST</th>
                        <th class="alc-blk">BLK</th>
                        <th class="alc-stl">STL</th>
                        <th class="alc-pf">PF</th>
                        <th class="alc-pts">PTS</th>
                    </tr>
                </thead>
                <tbody>

                    <!-- Starters -->
                    <tr *ngFor="let player of team.players">
                        <td class="alc-name">{{player.name}} {{player.lastName}}</td>
                        <td class="alc-position">{{player.position}}</td>
                        <td>{{player.number}}</td>
                        <td>{{player.stats?.pts2/2}}-{{ (player.stats?.mpt2/2)+(player.stats?.pts2/2) }}</td>
                        <td>{{player.stats?.apts2}}%</td>
                        <td>{{player.stats?.pts3/3}}-{{(player.stats?.mpt3/3) + (player.stats?.pts3/3)}}</td>
                        <td>{{player.stats?.apts3}}%</td>
                        <td>{{player.stats?.pts1}}-{{ (player.stats?.mpt1)+(player.stats?.pts1) }}</td>
                        <td>{{player.stats?.apts1}}%</td>
                        <td>{{player.stats?.or}}</td>
                        <td>{{player.stats?.dr}}</td>
                        <td>{{player.stats?.ast}}</td>
                        <td>{{player.stats?.blk}}</td>
                        <td>{{player.stats?.stl}}</td>
                        <td>{{player.stats?.pf}}</td>                                
                        <td>{{player.stats?.pts}}</td>
                    </tr>
                    <!-- Total -->
                    <tr>
                        <td colspan="3" class="alc-total">Totals</td>
                        <td class="alc-highlight">0-0</td>
                        <td class="alc-highlight">0%</td>
                        <td class="alc-highlight">0-0</td>
                        <td class="alc-highlight">0%</td>
                        <td class="alc-highlight">0-0</td>
                        <td class="alc-highlight">0%</td>
                        <td class="alc-highlight">0</td>
                        <td class="alc-highlight">0</td>
                        <td class="alc-highlight">0</td>
                        <td class="alc-highlight">0</td>
                        <td class="alc-highlight">0</td>
                        <td class="alc-highlight">0</td>
                        <td class="alc-highlight">0</td>
                    </tr>
                    <!-- Total / End -->
                </tbody>
            </table>
        </div>
    </div>
</div>