<nav class="content-filter">
    <div class="container">
        <a href="#" class="content-filter__toggle"></a>
        <ul class="content-filter__list">
            <li class="content-filter__item "><a href="event-overview.html" class="content-filter__link"><small>Match</small>Overview</a></li>
            <li class="content-filter__item content-filter__item--active"><a href="event-box-score.html" class="content-filter__link"><small>Match</small>Box Score</a></li>
            <li class="content-filter__item "><a href="event-play-by-play.html" class="content-filter__link"><small>Match</small>Play-by-Play</a></li>
            <li class="content-filter__item "><a href="event-team-stats.html" class="content-filter__link"><small>Match</small>Team Stats</a></li>
            <li class="content-filter__item "><a href="event-news-recap.html" class="content-filter__link"><small>Match</small>News Recap</a></li>
            <li class="content-filter__item "><a href="event-videos.html" class="content-filter__link"><small>Match</small>Videos</a></li>
        </ul>
    </div>
</nav>