<div class="site-content">
    <div class="container">
  
      <div class="row">
        <div class="content col-md-8">
          <app-championships-list></app-championships-list>
        </div>
  
        <!-- Sidebar -->
        <div id="sidebar" class="sidebar col-md-4">
  
          <!-- Widget: Standings -->
          <app-championships-standings></app-championships-standings>
          <!-- Widget: Standings / End -->

          <!-- Widget: Featured Player -->
          <app-player-featured></app-player-featured>
          <!-- Widget: Featured Player / End -->
  
          <!-- Widget: Game Result -->
          <app-game-last-result></app-game-last-result>
          <!-- Widget: Game Result / End -->
  
          <!-- Widget: Match Announcement -->
          <app-game-next></app-game-next>
          <!-- Widget: Match Announcement / End -->
        </div>
        <!-- Sidebar / End -->
      </div>
  
    </div>
  </div>