<div class="row">
		
        <!-- Content -->
        <div class="content col-lg-8">

            <!-- Play-by-Play Tabbed Content -->
            <div class="alc-tabs card card--has-table">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified alc-nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#tab-quarter-1" role="tab" data-toggle="tab">
                            <small class="d-none d-sm-block">Play-by-play</small>
                            <span class="d-block d-sm-none">1st Q</span>
                            <span class="d-none d-sm-block">1st Quarter</span>
                        </a></li>
                    <li class="nav-item">
                        <a class="nav-link " href="#tab-quarter-2" role="tab" data-toggle="tab">
                            <small class="d-none d-sm-block">Play-by-play</small>
                            <span class="d-block d-sm-none">2nd Q</span>
                            <span class="d-none d-sm-block">2nd Quarter</span>
                        </a></li>
                    <li class="nav-item">
                        <a class="nav-link " href="#tab-quarter-3" role="tab" data-toggle="tab">
                            <small class="d-none d-sm-block">Play-by-play</small>
                            <span class="d-block d-sm-none">3rd Q</span>
                            <span class="d-none d-sm-block">3rd Quarter</span>
                        </a></li>
                    <li class="nav-item">
                        <a class="nav-link " href="#tab-quarter-4" role="tab" data-toggle="tab">
                            <small class="d-none d-sm-block">Play-by-play</small>
                            <span class="d-block d-sm-none">4th Q</span>
                            <span class="d-none d-sm-block">4th Quarter</span>
                        </a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content card__content">

                    <!-- Tab: #0 -->
                    <div role="tabpanel" class="tab-pane fade show active" id="tab-quarter-1">

                    <div class="table-responsive">
                        <table class="table table-hover alc-table-stats alc-table-stats__play-by-play">
                            <thead>
                                <tr>
                                    <th class="alc-align-start">Time</th>
                                    <th class="alc-align-start">Description</th>
                                    <th class="alc-align-end">Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm alc-highlight">12:00</td>
                                    <td class="alc-align-start alc-highlight">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img">
                                        Jump Ball: James Girobilli vs Wayne Simms
                                    </td>
                                    <td class="alc-align-end alc-highlight">0 - 0</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm ">11:39</td>
                                    <td class="alc-align-start ">
                                        <img src="assets/images/samples/logos/sharks_shield.png" alt="" class="alc-team-img">
                                        Alan Tordemer misses 17-foot jumper
                                    </td>
                                    <td class="alc-align-end ">0 - 0</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm alc-highlight">0:00</td>
                                    <td class="alc-align-start alc-highlight">
                                        <span class="alc-team-img-spacer"></span>
                                        End of the First Quarter
                                    </td>
                                    <td class="alc-align-end alc-highlight">8 - 4</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    </div>
                    <!-- Tab: #0 / End -->
                    <!-- Tab: #1 -->
                    <div role="tabpanel" class="tab-pane fade " id="tab-quarter-2">

                    <div class="table-responsive">
                        <table class="table table-hover alc-table-stats alc-table-stats__play-by-play">
                            <thead>
                                <tr>
                                    <th class="alc-align-start">Time</th>
                                    <th class="alc-align-start">Description</th>
                                    <th class="alc-align-end">Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm ">6:58</td>
                                    <td class="alc-align-start ">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img">
                                        Sed ut perspiciatis unde omnis iste natus
                                    </td>
                                    <td class="alc-align-end ">4 - 2</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm alc-highlight">6:27</td>
                                    <td class="alc-align-start alc-highlight">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img">
                                        Sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </td>
                                    <td class="alc-align-end alc-highlight">6 - 2</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm ">5:49</td>
                                    <td class="alc-align-start ">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img">
                                        Sed ut perspiciatis unde omnis iste natus
                                    </td>
                                    <td class="alc-align-end ">6 - 2</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm alc-highlight">12:00</td>
                                    <td class="alc-align-start alc-highlight">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img">
                                        Jump Ball: James Girobilli vs Wayne Simms
                                    </td>
                                    <td class="alc-align-end alc-highlight">0 - 0</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm ">11:39</td>
                                    <td class="alc-align-start ">
                                        <img src="assets/images/samples/logos/sharks_shield.png" alt="" class="alc-team-img">
                                        Alan Tordemer misses 17-foot jumper
                                    </td>
                                    <td class="alc-align-end ">0 - 0</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm ">10:22</td>
                                    <td class="alc-align-start ">
                                        <img src="assets/images/samples/logos/sharks_shield.png" alt="" class="alc-team-img">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                    </td>
                                    <td class="alc-align-end ">0 - 0</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm ">10:04</td>
                                    <td class="alc-align-start ">
                                        <img src="assets/images/samples/logos/sharks_shield.png" alt="" class="alc-team-img">
                                        Eiusmod tempor incididunt ut labore
                                    </td>
                                    <td class="alc-align-end ">0 - 0</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm alc-highlight">9:32</td>
                                    <td class="alc-align-start alc-highlight">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img">
                                        James Girobilli makes a driving finger roll from 2 feet out. Rodgers assist
                                    </td>
                                    <td class="alc-align-end alc-highlight">2 - 0</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm ">9:17</td>
                                    <td class="alc-align-start ">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img">
                                        Sed ut perspiciatis unde omnis iste natus
                                    </td>
                                    <td class="alc-align-end ">2 - 0</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm alc-highlight">8:55</td>
                                    <td class="alc-align-start alc-highlight">
                                        <img src="assets/images/samples/logos/sharks_shield.png" alt="" class="alc-team-img">
                                        Quis autem vel eum iure reprehenderit qui in ea voluptate
                                    </td>
                                    <td class="alc-align-end alc-highlight">2 - 2</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm ">8:42</td>
                                    <td class="alc-align-start ">
                                        <img src="assets/images/samples/logos/sharks_shield.png" alt="" class="alc-team-img">
                                        Eiusmod tempor incididunt ut labore
                                    </td>
                                    <td class="alc-align-end ">2 - 2</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm alc-highlight">7:30</td>
                                    <td class="alc-align-start alc-highlight">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img">
                                        Excepteur sint occaecat cupidatat non proident.
                                    </td>
                                    <td class="alc-align-end alc-highlight">4 - 2</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm alc-highlight">3:19</td>
                                    <td class="alc-align-start alc-highlight">
                                        <img src="assets/images/samples/logos/sharks_shield.png" alt="" class="alc-team-img">
                                        Quis autem vel eum iure reprehenderit qui in ea voluptate
                                    </td>
                                    <td class="alc-align-end alc-highlight">6 - 4</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm ">2:48</td>
                                    <td class="alc-align-start ">
                                        <img src="assets/images/samples/logos/sharks_shield.png" alt="" class="alc-team-img">
                                        Eiusmod tempor incididunt ut labore
                                    </td>
                                    <td class="alc-align-end ">6 - 4</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm alc-highlight">1:07</td>
                                    <td class="alc-align-start alc-highlight">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img">
                                        Sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </td>
                                    <td class="alc-align-end alc-highlight">8 - 4</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm ">0:44</td>
                                    <td class="alc-align-start ">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img">
                                        Sed ut perspiciatis unde omnis iste natus
                                    </td>
                                    <td class="alc-align-end ">8 - 4</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm alc-highlight">0:00</td>
                                    <td class="alc-align-start alc-highlight">
                                        <span class="alc-team-img-spacer"></span>
                                        End of the First Quarter
                                    </td>
                                    <td class="alc-align-end alc-highlight">8 - 4</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    </div>
                    <!-- Tab: #1 / End -->
                    <!-- Tab: #2 -->
                    <div role="tabpanel" class="tab-pane fade " id="tab-quarter-3">

                    <div class="table-responsive">
                        <table class="table table-hover alc-table-stats alc-table-stats__play-by-play">
                            <thead>
                                <tr>
                                    <th class="alc-align-start">Time</th>
                                    <th class="alc-align-start">Description</th>
                                    <th class="alc-align-end">Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm ">6:58</td>
                                    <td class="alc-align-start ">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img">
                                        Sed ut perspiciatis unde omnis iste natus
                                    </td>
                                    <td class="alc-align-end ">4 - 2</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm alc-highlight">6:27</td>
                                    <td class="alc-align-start alc-highlight">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img">
                                        Sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </td>
                                    <td class="alc-align-end alc-highlight">6 - 2</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm ">5:49</td>
                                    <td class="alc-align-start ">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img">
                                        Sed ut perspiciatis unde omnis iste natus
                                    </td>
                                    <td class="alc-align-end ">6 - 2</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm alc-highlight">3:19</td>
                                    <td class="alc-align-start alc-highlight">
                                        <img src="assets/images/samples/logos/sharks_shield.png" alt="" class="alc-team-img">
                                        Quis autem vel eum iure reprehenderit qui in ea voluptate
                                    </td>
                                    <td class="alc-align-end alc-highlight">6 - 4</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm alc-highlight">12:00</td>
                                    <td class="alc-align-start alc-highlight">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img">
                                        Jump Ball: James Girobilli vs Wayne Simms
                                    </td>
                                    <td class="alc-align-end alc-highlight">0 - 0</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm ">11:39</td>
                                    <td class="alc-align-start ">
                                        <img src="assets/images/samples/logos/sharks_shield.png" alt="" class="alc-team-img">
                                        Alan Tordemer misses 17-foot jumper
                                    </td>
                                    <td class="alc-align-end ">0 - 0</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm ">10:22</td>
                                    <td class="alc-align-start ">
                                        <img src="assets/images/samples/logos/sharks_shield.png" alt="" class="alc-team-img">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                    </td>
                                    <td class="alc-align-end ">0 - 0</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm ">10:04</td>
                                    <td class="alc-align-start ">
                                        <img src="assets/images/samples/logos/sharks_shield.png" alt="" class="alc-team-img">
                                        Eiusmod tempor incididunt ut labore
                                    </td>
                                    <td class="alc-align-end ">0 - 0</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm alc-highlight">9:32</td>
                                    <td class="alc-align-start alc-highlight">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img">
                                        James Girobilli makes a driving finger roll from 2 feet out. Rodgers assist
                                    </td>
                                    <td class="alc-align-end alc-highlight">2 - 0</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm ">9:17</td>
                                    <td class="alc-align-start ">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img">
                                        Sed ut perspiciatis unde omnis iste natus
                                    </td>
                                    <td class="alc-align-end ">2 - 0</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm alc-highlight">8:55</td>
                                    <td class="alc-align-start alc-highlight">
                                        <img src="assets/images/samples/logos/sharks_shield.png" alt="" class="alc-team-img">
                                        Quis autem vel eum iure reprehenderit qui in ea voluptate
                                    </td>
                                    <td class="alc-align-end alc-highlight">2 - 2</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm ">8:42</td>
                                    <td class="alc-align-start ">
                                        <img src="assets/images/samples/logos/sharks_shield.png" alt="" class="alc-team-img">
                                        Eiusmod tempor incididunt ut labore
                                    </td>
                                    <td class="alc-align-end ">2 - 2</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm alc-highlight">7:30</td>
                                    <td class="alc-align-start alc-highlight">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img">
                                        Excepteur sint occaecat cupidatat non proident.
                                    </td>
                                    <td class="alc-align-end alc-highlight">4 - 2</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm ">2:48</td>
                                    <td class="alc-align-start ">
                                        <img src="assets/images/samples/logos/sharks_shield.png" alt="" class="alc-team-img">
                                        Eiusmod tempor incididunt ut labore
                                    </td>
                                    <td class="alc-align-end ">6 - 4</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm alc-highlight">1:07</td>
                                    <td class="alc-align-start alc-highlight">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img">
                                        Sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </td>
                                    <td class="alc-align-end alc-highlight">8 - 4</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm ">0:44</td>
                                    <td class="alc-align-start ">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img">
                                        Sed ut perspiciatis unde omnis iste natus
                                    </td>
                                    <td class="alc-align-end ">8 - 4</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm alc-highlight">0:00</td>
                                    <td class="alc-align-start alc-highlight">
                                        <span class="alc-team-img-spacer"></span>
                                        End of the First Quarter
                                    </td>
                                    <td class="alc-align-end alc-highlight">8 - 4</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    </div>
                    <!-- Tab: #2 / End -->
                    <!-- Tab: #3 -->
                    <div role="tabpanel" class="tab-pane fade " id="tab-quarter-4">

                    <div class="table-responsive">
                        <table class="table table-hover alc-table-stats alc-table-stats__play-by-play">
                            <thead>
                                <tr>
                                    <th class="alc-align-start">Time</th>
                                    <th class="alc-align-start">Description</th>
                                    <th class="alc-align-end">Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm ">10:22</td>
                                    <td class="alc-align-start ">
                                        <img src="assets/images/samples/logos/sharks_shield.png" alt="" class="alc-team-img">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                    </td>
                                    <td class="alc-align-end ">0 - 0</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm ">10:04</td>
                                    <td class="alc-align-start ">
                                        <img src="assets/images/samples/logos/sharks_shield.png" alt="" class="alc-team-img">
                                        Eiusmod tempor incididunt ut labore
                                    </td>
                                    <td class="alc-align-end ">0 - 0</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm alc-highlight">9:32</td>
                                    <td class="alc-align-start alc-highlight">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img">
                                        James Girobilli makes a driving finger roll from 2 feet out. Rodgers assist
                                    </td>
                                    <td class="alc-align-end alc-highlight">2 - 0</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm ">9:17</td>
                                    <td class="alc-align-start ">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img">
                                        Sed ut perspiciatis unde omnis iste natus
                                    </td>
                                    <td class="alc-align-end ">2 - 0</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm alc-highlight">12:00</td>
                                    <td class="alc-align-start alc-highlight">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img">
                                        Jump Ball: James Girobilli vs Wayne Simms
                                    </td>
                                    <td class="alc-align-end alc-highlight">0 - 0</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm ">11:39</td>
                                    <td class="alc-align-start ">
                                        <img src="assets/images/samples/logos/sharks_shield.png" alt="" class="alc-team-img">
                                        Alan Tordemer misses 17-foot jumper
                                    </td>
                                    <td class="alc-align-end ">0 - 0</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm alc-highlight">8:55</td>
                                    <td class="alc-align-start alc-highlight">
                                        <img src="assets/images/samples/logos/sharks_shield.png" alt="" class="alc-team-img">
                                        Quis autem vel eum iure reprehenderit qui in ea voluptate
                                    </td>
                                    <td class="alc-align-end alc-highlight">2 - 2</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm ">8:42</td>
                                    <td class="alc-align-start ">
                                        <img src="assets/images/samples/logos/sharks_shield.png" alt="" class="alc-team-img">
                                        Eiusmod tempor incididunt ut labore
                                    </td>
                                    <td class="alc-align-end ">2 - 2</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm alc-highlight">7:30</td>
                                    <td class="alc-align-start alc-highlight">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img">
                                        Excepteur sint occaecat cupidatat non proident.
                                    </td>
                                    <td class="alc-align-end alc-highlight">4 - 2</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm ">6:58</td>
                                    <td class="alc-align-start ">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img">
                                        Sed ut perspiciatis unde omnis iste natus
                                    </td>
                                    <td class="alc-align-end ">4 - 2</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm alc-highlight">6:27</td>
                                    <td class="alc-align-start alc-highlight">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img">
                                        Sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </td>
                                    <td class="alc-align-end alc-highlight">6 - 2</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm ">5:49</td>
                                    <td class="alc-align-start ">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img">
                                        Sed ut perspiciatis unde omnis iste natus
                                    </td>
                                    <td class="alc-align-end ">6 - 2</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm alc-highlight">3:19</td>
                                    <td class="alc-align-start alc-highlight">
                                        <img src="assets/images/samples/logos/sharks_shield.png" alt="" class="alc-team-img">
                                        Quis autem vel eum iure reprehenderit qui in ea voluptate
                                    </td>
                                    <td class="alc-align-end alc-highlight">6 - 4</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm ">2:48</td>
                                    <td class="alc-align-start ">
                                        <img src="assets/images/samples/logos/sharks_shield.png" alt="" class="alc-team-img">
                                        Eiusmod tempor incididunt ut labore
                                    </td>
                                    <td class="alc-align-end ">6 - 4</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm alc-highlight">1:07</td>
                                    <td class="alc-align-start alc-highlight">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img">
                                        Sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </td>
                                    <td class="alc-align-end alc-highlight">8 - 4</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm ">0:44</td>
                                    <td class="alc-align-start ">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img">
                                        Sed ut perspiciatis unde omnis iste natus
                                    </td>
                                    <td class="alc-align-end ">8 - 4</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm alc-highlight">0:00</td>
                                    <td class="alc-align-start alc-highlight">
                                        <span class="alc-team-img-spacer"></span>
                                        End of the First Quarter
                                    </td>
                                    <td class="alc-align-end alc-highlight">107 - 102</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    </div>
                    <!-- Tab: #3 / End -->

                </div>

            </div>
            <!-- Play-by-Play Tabbed Content / End -->

        </div>
        <!-- Content / End -->

        <!-- Sidebar -->
        <div class="sidebar col-lg-4">

            <!-- Widget: Latest Results -->
            <aside class="widget card widget--sidebar widget-results">
                <div class="widget__title card__header">
                    <h4>Latest Encounters</h4>
                </div>
                <div class="widget__content card__content widget__content--bottom-decor-sm">
                    <ul class="widget-results__list">
            
                        <!-- Game #0 -->
                        <li class="widget-results__item">
                            <div class="widget-results__header justify-content-center">
                                <div class="widget-results__title">Saturday, March 24</div>
                            </div>
                            <div class="widget-results__content">
                                <div class="widget-results__team widget-results__team--first">
                                    <figure class="widget-results__team-logo">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="">
                                    </figure>
                                    <div class="widget-results__team-details">
                                        <h5 class="widget-results__team-name">Alchemists</h5>
                                        <span class="widget-results__team-info">Elric Bros School</span>
                                    </div>
                                </div>
                                <div class="widget-results__result">
                                    <div class="widget-results__score">
                                        <span class="widget-results__score-winner">107</span> - <span class="widget-results__score-loser">102</span>
                                        <div class="widget-results__status">Home</div>
                                    </div>
                                </div>
                                <div class="widget-results__team widget-results__team--second">
                                    <figure class="widget-results__team-logo">
                                        <img src="assets/images/samples/logos/sharks_shield.png" alt="">
                                    </figure>
                                    <div class="widget-results__team-details">
                                        <h5 class="widget-results__team-name">Sharks</h5>
                                        <span class="widget-results__team-info">Marine College</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- Game #0 / End -->
                        <!-- Game #1 -->
                        <li class="widget-results__item">
                            <div class="widget-results__header justify-content-center">
                                <div class="widget-results__title">Friday, March 16</div>
                            </div>
                            <div class="widget-results__content">
                                <div class="widget-results__team widget-results__team--first">
                                    <figure class="widget-results__team-logo">
                                        <img src="assets/images/samples/logos/pirates_shield.png" alt="">
                                    </figure>
                                    <div class="widget-results__team-details">
                                        <h5 class="widget-results__team-name">L.A. Pirates</h5>
                                        <span class="widget-results__team-info">Bebop Institute</span>
                                    </div>
                                </div>
                                <div class="widget-results__result">
                                    <div class="widget-results__score">
                                        <span class="widget-results__score-winner">124</span> - <span class="widget-results__score-loser">106</span>
                                        <div class="widget-results__status">Away</div>
                                    </div>
                                </div>
                                <div class="widget-results__team widget-results__team--second">
                                    <figure class="widget-results__team-logo">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="">
                                    </figure>
                                    <div class="widget-results__team-details">
                                        <h5 class="widget-results__team-name">Alchemists</h5>
                                        <span class="widget-results__team-info">Eric Bros School</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- Game #1 / End -->
                        <!-- Game #2 -->
                        <li class="widget-results__item">
                            <div class="widget-results__header justify-content-center">
                                <div class="widget-results__title">Saturday, March 10</div>
                            </div>
                            <div class="widget-results__content">
                                <div class="widget-results__team widget-results__team--first">
                                    <figure class="widget-results__team-logo">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="">
                                    </figure>
                                    <div class="widget-results__team-details">
                                        <h5 class="widget-results__team-name">Alchemists</h5>
                                        <span class="widget-results__team-info">Eric Bros School</span>
                                    </div>
                                </div>
                                <div class="widget-results__result">
                                    <div class="widget-results__score">
                                        <span class="widget-results__score-loser">95</span> - <span class="widget-results__score-winner">98</span>
                                        <div class="widget-results__status">Home</div>
                                    </div>
                                </div>
                                <div class="widget-results__team widget-results__team--second">
                                    <figure class="widget-results__team-logo">
                                        <img src="assets/images/samples/logos/lucky_clovers_shield.png" alt="">
                                    </figure>
                                    <div class="widget-results__team-details">
                                        <h5 class="widget-results__team-name">Clovers</h5>
                                        <span class="widget-results__team-info">St. Patrick’s Inst</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- Game #2 / End -->
                        <!-- Game #3 -->
                        <li class="widget-results__item">
                            <div class="widget-results__header justify-content-center">
                                <div class="widget-results__title">Friday, March 4</div>
                            </div>
                            <div class="widget-results__content">
                                <div class="widget-results__team widget-results__team--first">
                                    <figure class="widget-results__team-logo">
                                        <img src="assets/images/samples/logos/ocean_kings_shield.png" alt="">
                                    </figure>
                                    <div class="widget-results__team-details">
                                        <h5 class="widget-results__team-name">Ocean Kings</h5>
                                        <span class="widget-results__team-info">Bay College</span>
                                    </div>
                                </div>
                                <div class="widget-results__result">
                                    <div class="widget-results__score">
                                        <span class="widget-results__score-winner">110</span> - <span class="widget-results__score-loser">104</span>
                                        <div class="widget-results__status">Home</div>
                                    </div>
                                </div>
                                <div class="widget-results__team widget-results__team--second">
                                    <figure class="widget-results__team-logo">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="">
                                    </figure>
                                    <div class="widget-results__team-details">
                                        <h5 class="widget-results__team-name">Alchemists</h5>
                                        <span class="widget-results__team-info">Eric Bros School</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- Game #3 / End -->
                        <!-- Game #4 -->
                        <li class="widget-results__item">
                            <div class="widget-results__header justify-content-center">
                                <div class="widget-results__title">Saturday, February 24</div>
                            </div>
                            <div class="widget-results__content">
                                <div class="widget-results__team widget-results__team--first">
                                    <figure class="widget-results__team-logo">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="">
                                    </figure>
                                    <div class="widget-results__team-details">
                                        <h5 class="widget-results__team-name">Alchemists</h5>
                                        <span class="widget-results__team-info">Elric Bros School</span>
                                    </div>
                                </div>
                                <div class="widget-results__result">
                                    <div class="widget-results__score">
                                        <span class="widget-results__score-winner">107</span> - <span class="widget-results__score-loser">102</span>
                                        <div class="widget-results__status">Home</div>
                                    </div>
                                </div>
                                <div class="widget-results__team widget-results__team--second">
                                    <figure class="widget-results__team-logo">
                                        <img src="assets/images/samples/logos/sharks_shield.png" alt="">
                                    </figure>
                                    <div class="widget-results__team-details">
                                        <h5 class="widget-results__team-name">Sharks</h5>
                                        <span class="widget-results__team-info">Marine College</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- Game #4 / End -->
                        <!-- Game #5 -->
                        <li class="widget-results__item">
                            <div class="widget-results__header justify-content-center">
                                <div class="widget-results__title">Wednesay, January 18</div>
                            </div>
                            <div class="widget-results__content">
                                <div class="widget-results__team widget-results__team--first">
                                    <figure class="widget-results__team-logo">
                                        <img src="assets/images/samples/logos/pirates_shield.png" alt="">
                                    </figure>
                                    <div class="widget-results__team-details">
                                        <h5 class="widget-results__team-name">L.A. Pirates</h5>
                                        <span class="widget-results__team-info">Bebop Institute</span>
                                    </div>
                                </div>
                                <div class="widget-results__result">
                                    <div class="widget-results__score">
                                        <span class="widget-results__score-winner">105</span> - <span class="widget-results__score-loser">92</span>
                                        <div class="widget-results__status">Away</div>
                                    </div>
                                </div>
                                <div class="widget-results__team widget-results__team--second">
                                    <figure class="widget-results__team-logo">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="">
                                    </figure>
                                    <div class="widget-results__team-details">
                                        <h5 class="widget-results__team-name">Alchemists</h5>
                                        <span class="widget-results__team-info">Eric Bros School</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- Game #5 / End -->
            
                    </ul>
                </div>
            </aside>
            <!-- Widget: Latest Results / End -->

        </div>
        <!-- Sidebar / End -->
    </div>