<div class="row">
    <div class="content col-lg-8">
        <div class="alc-tabs card card--has-table">
            <ul class="nav nav-tabs nav-justified alc-nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" [class.active]="quarter==1" (click)="viewQuarter(1)" role="tab" data-toggle="tab">
                        <small class="d-none d-sm-block">Play-by-play</small>
                        <span class="d-block d-sm-none">1st Q</span>
                        <span class="d-none d-sm-block">1st Quarter</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="quarter==2" (click)="viewQuarter(2)" role="tab" data-toggle="tab">
                        <small class="d-none d-sm-block">Play-by-play</small>
                        <span class="d-block d-sm-none">2nd Q</span>
                        <span class="d-none d-sm-block">2nd Quarter</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="quarter==3" (click)="viewQuarter(3)" role="tab" data-toggle="tab">
                        <small class="d-none d-sm-block">Play-by-play</small>
                        <span class="d-block d-sm-none">3rd Q</span>
                        <span class="d-none d-sm-block">3rd Quarter</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="quarter==4" (click)="viewQuarter(4)" role="tab" data-toggle="tab">
                        <small class="d-none d-sm-block">Play-by-play</small>
                        <span class="d-block d-sm-none">4th Q</span>
                        <span class="d-none d-sm-block">4th Quarter</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content card__content">
                <div role="tabpanel" class="tab-pane fade show active" id="tab-quarter-1">

                    <div class="table-responsive">
                        <table class="table table-hover alc-table-stats alc-table-stats__play-by-play">
                            <thead>
                                <tr>
                                    <th class="alc-align-start">Time</th>
                                    <th class="alc-align-start">Description</th>
                                    <th class="alc-align-end">Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let stat of currentStats">
                                    <td class="alc-align-start alc-highlight-sm" [class.alc-highlight]="stat.typeTeam=='LOCAL'">{{stat.quarterTimeText}}</td>
                                    <td class="alc-align-start" [class.alc-highlight]="stat.typeTeam=='LOCAL'">
                                        <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="" class="alc-team-img"> {{stat.type}} {{stat.value}}: {{stat.player?.name}} {{stat.player?.lastName}}
                                    </td>
                                    <td class="alc-align-end alc-highlight">0 - 0</td>
                                </tr>
                                <tr>
                                    <td class="alc-align-start alc-highlight-sm alc-highlight">0:00</td>
                                    <td class="alc-align-start alc-highlight">
                                        <span class="alc-team-img-spacer"></span>
                                        End of the First Quarter
                                    </td>
                                    <td class="alc-align-end alc-highlight">8 - 4</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="sidebar col-lg-4" >

        <div class="widget card card--has-table widget--sidebar widget-matchup">
            <div class="widget__content card__content">
                <div class="table-responsive">
                    <table class="table table table-hover alc-table-stats alc-table-stats--compact">
                        <thead class="table-card-header">
                            <tr>
                                <th class="table-card-header__title">Matchup</th>
                                <th>
                                    <img src="assets/images/samples/logos/alchemists_b_shield.png" alt="The Alchemists">
                                </th>
                                <th>
                                    <img src="assets/images/samples/logos/sharks_shield.png" alt="Sharks">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="alc-align-start alc-highlight-sm">FG Made-Attempted</td>
                                <td class="alc-highlight-sm">36-80</td>
                                <td class="alc-highlight-sm">42-79</td>
                            </tr>
                            <tr>
                                <td class="alc-align-start alc-highlight-sm">Field Goal %</td>
                                <td class="alc-highlight-sm">45.0</td>
                                <td class="alc-highlight-sm">53.2</td>
                            </tr>
                            <tr>
                                <td class="alc-align-start alc-highlight-sm">3PT Made-Attempted</td>
                                <td class="alc-highlight-sm">10-29</td>
                                <td class="alc-highlight-sm">11-24</td>
                            </tr>
                            <tr>
                                <td class="alc-align-start alc-highlight-sm">Three Point %</td>
                                <td class="alc-highlight-sm">34.5</td>
                                <td class="alc-highlight-sm">45.8</td>
                            </tr>
                            <tr>
                                <td class="alc-align-start alc-highlight-sm">FT Made-Attempted</td>
                                <td class="alc-highlight-sm">23-29</td>
                                <td class="alc-highlight-sm">20-25</td>
                            </tr>
                            <tr>
                                <td class="alc-align-start alc-highlight-sm">Free Throw %</td>
                                <td class="alc-highlight-sm">79.3</td>
                                <td class="alc-highlight-sm">80.0</td>
                            </tr>
                            <tr>
                                <td class="alc-align-start alc-highlight-sm">Total Rebounds</td>
                                <td class="alc-highlight-sm">
                                    {{ (currentStatsLocal.or || 0) +  (currentStatsLocal.dr || 0) }}
                                </td>
                                <td class="alc-highlight-sm">
                                    {{ (currentStatsVisitor.or || 0) +  (currentStatsVisitor.dr || 0) }}
                                </td>
                            </tr>
                            <tr>
                                <td class="alc-align-start alc-indent">Offensive Rebounds</td>
                                <td class="">{{currentStatsLocal.or || 0 }}</td>
                                <td class="">{{currentStatsVisitor.or || 0 }}</td>
                            </tr>
                            <tr>
                                <td class="alc-align-start alc-indent">Defensive Rebounds</td>
                                <td class="">{{currentStatsLocal.dr || 0 }}</td>
                                <td class="">{{currentStatsVisitor.dr || 0 }}</td>
                            </tr>
                            <tr>
                                <td class="alc-align-start alc-highlight-sm">Assists</td>
                                <td class="alc-highlight-sm">{{currentStatsLocal.ast  || 0 }}</td>
                                <td class="alc-highlight-sm">{{currentStatsVisitor.ast || 0 }}</td>
                            </tr>
                            <tr>
                                <td class="alc-align-start alc-highlight-sm">Steals</td>
                                <td class="alc-highlight-sm">{{currentStatsLocal.stl || 0 }}</td>
                                <td class="alc-highlight-sm">{{currentStatsVisitor.stl || 0 }}</td>
                            </tr>
                            <tr>
                                <td class="alc-align-start alc-highlight-sm">Blocks</td>
                                <td class="alc-highlight-sm">{{currentStatsLocal.blk || 0 }}</td>
                                <td class="alc-highlight-sm">{{currentStatsVisitor.blk || 0 }}</td>
                            </tr>
                            <tr>
                                <td class="alc-align-start alc-highlight-sm">Points</td>
                                <td class="alc-highlight-sm">{{currentStatsLocal.pts}}</td>
                                <td class="alc-highlight-sm">{{currentStatsVisitor.pts}}</td>
                            </tr>
                            <tr>
                                <td class="alc-align-start alc-highlight-sm">Personal Fouls</td>
                                <td class="alc-highlight-sm">{{currentStatsLocal.pf}}</td>
                                <td class="alc-highlight-sm">{{currentStatsVisitor.pf}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>